<footer
  class="grid grid-cols-1 lg:grid-cols-2 gap-2 max-w-7xl mx-auto col-span-full"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-orange-600 text-base lg:text-xl">Navigation</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="#work" class="hover:text-black"> Work</a>
        </li>
        <li>
          <a href="#how" class="hover:text-black"> How it works</a>
        </li>
        <li>
          <a href="#pricing" class="hover:text-black"> Pricing</a>
        </li>
        <li>
          <a href="#faq" class="hover:text-black"> FAQ</a>
        </li>
      </ul>
    </div>
    
    
    <div class="p-8 bg-gray-200 rounded-3xl">
      <h3 class="  font-display text-amber-500 text-base lg:text-xl">Socials</h3>
      <ul
        role="list"
        class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-gray-500 uppercase"
      >
        <li>
          <a href="" class="hover:text-black">
            @Anotoinette_Coffey
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="p-8 bg-gray-200 rounded-3xl justify-end flex flex-col">
    <div>
      <p class="text-sm text-black">
        © 2024 Anotoinette Coffee. All rights reserved
      </p>

      <div class="gap-x-8 gap-y-6 mt-6">
        <div>
          <p class="text-sm text-gray-600 lg:col-span-2">
            This site is not affiliated with Stripe, Astro, or Tailwind Labs, nor is it endorsed or sponsored by them. Built by
            <a
              href=""
              class="text-sm text-black hover:text-accent-300"
              >Code Craft Collective</a
            >, this website was crafted using Astro, Tailwind CSS & Alpine JS
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
