<div class="flex flex-col gap-2">
  <div class="bg-green-600 rounded-3xl p-8">
    <p class="text-3xl leading-6 text-white font-display">Antoinette Coffey</p>
    <p class="text-sm mt-8 text-white">X spots left</p>
    <h2
      class="text-4xl mt-12 tracking-tighter  font-display font-normal md:text-8xl lg:text-6xl xl:text-6xl text-blance text-white">
      Coaches Driven To Succeed
    </h2>
  </div>
  <div class="bg-blue-400 rounded-3xl p-8 text-xl text-white">
    <div class="space-y-4">
      <p>
        Discover the specific tools all successful coaches use to generate, nurture and convert leads into dreamy clients
      </p>
    </div>
    <div
      class="grid grid-cols-2 md:grid-cols-4 gap-8 my-10 rounded-3 w-full rounded-3xl">
      <div class="items-center flex bg-blue-400 overflow-hidden rounded-2xl">
        <!-- <img -->
        <!--   class="max-h-8 w-full object-contain grayscale" -->
        <!--   src="/lexington.svg" -->
        <!--   alt="Transistor" -->
        <!--   width="158" -->
        <!--   height="48" -->
        <!-- /> -->
      </div>
    </div>
    <p>
      Embrace flexibility <span
        class="text-blue-950">⏤ Starting on April 22nd.</span
      >
    </p>
  </div>
</div>
