<div>
  <div
      class="bg-gray-200 justify-between rounded-3xl text-black p-8">
      <div>
        <div class="flex flex-col gap-2 bg-white p-8 rounded-2xl">
          <div class="flex flex-col gap-2">
            <div class="flex justify-between items-center">
              <p class="text-2xl xl:text-3xl text-black  font-display">One off</p>
            </div>
            <p class="text-2xl xl:text-4xl font-light  font-display text-green-500 mt-2">
              $999
              <span class="text-black block text-xs pt-4">USD + Local tax</span>
            </p>
          </div>
          <p class="text-base text-green-600 xl:text-2xl mt-4">
            Ideal for those seeking a fast landing page or UI components!
          </p>
          <div class="mt-8">
            <a
              title="link to checkout"
              class="rounded-xl px-8 h-16 py-2 font-semibold transition-all text-xl flex items-center justify-between bg-green-600 text-white b focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300"
              href="https://breeew.com/api/stripe/checkout-session-link/michael?prices=price_1Ok1UXF2JhswpgH2aSbmGvCZ&one_time=true"
              >Get started <span>&rarr;</span></a
            >
          </div>
        </div>
      </div>
  </div>
</div>
