---
import YourIn from "./YOUR_IN_MESSAGE.astro";
import { storyblokEditable } from "@storyblok/astro";

const {blok} = Astro.props
---

<section class="overflow-hidden relative" {...storyblokEditable(blok)}>
  <div class="p-4 lg:p-8 lg:pb-24 max-w-7xl mx-auto relative mt-20 md:mt-0">
    <div class="grid grid-cols-1 gap-2 mb-2">
      <YourIn />
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <section
        class="bg-gray-200 duration-300 flex flex-col xl:col-span-2 justify-between rounded-3xl h-full text-black p-8">
        <div>
          <div class="mb-6">
            <p class="text-2xl text-black mt-8 xl:text-4xl">Here Are Your Next Steps:</p>
            <ol class="flex flex-col mt-4 text-base text-black gap-y-4 list-decimal list-inside" role="list">
              <li class="text-xl flex flex-col items-start gap-2 xl:text-2xl">             
                1. Go straight to your inbox to download your Wealthy Woman mediation now
              </li>
              <li class="text-xl flex flex-col items-start gap-2 xl:text-2xl">
                2. Block off your calendar for 7th December from 2pm to 5pm GMT/ 9am to 12pm EST
              </li>
              <li class="text-xl flex flex-col items-start gap-2 xl:text-2xl">
                3. Check your inbox daily to start activating your abundance and learn to manifest immediately
              </li>
              <li class="text-xl flex flex-col items-start gap-2 xl:text-2xl">
                4. Join the special LinkedIn group here where the event is being held
              </li>
            </ol>

          </div>
          <div>
{blok.rich_text}
          </div>
            <div>
              <a
                title="link to checkout"
                class="rounded-xl px-8 h-16 py-2 font-semibold transition-all text-xl flex items-center justify-between bg-orange-600 text-white b focus:ring-2 focus:ring-black focus:ring-offset-2 ring-offset-gray-200 hover:bg-black hover:text-white duration-300"
                href={blok.stripelink.url}
                >{blok.calltoaction} <span>&rarr;</span></a
              >
            </div>
        </div>
      </section>
    </div>
  </div>
</section>
<script is:inline>
  var duration = 15 * 1000;
  var animationEnd = Date.now() + duration;
  var defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

function randomInRange(min, max) {
  return Math.random() * (max - min) + min;
}

var interval = setInterval(function() {
  var timeLeft = animationEnd - Date.now();

  if (timeLeft <= 0) {
    return clearInterval(interval);
  }

  var particleCount = 50 * (timeLeft / duration);
  // since particles fall down, start a bit higher than random
  confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 } });
  confetti({ ...defaults, particleCount, origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 } });
}, 250);
</script>
